@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">FakeApi</h1>
    <div class="d-flex justify-content-center mt-5">
        <div class="card bg-secondary" style="width:25rem;">
            <div class="card-body">
                <p class="card-text text-white">GET https://localhost:7222/FakeApi/GetProducts</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center  mt-3 container">
        <div class="row">
            <a class="btn btn-primary col m-1 text-nowrap" href="@Url.Action("Docs", "Home")">
                Read the docs
                <br />
                <img src="./img/docs-icon.png" width="20" height="20"/>
            </a>
            <a class="btn btn-info col m-1 text-nowrap" href="https://github.com/Tonitete/FakeApi" target="_blank">
                View on Github 
                <br />
                <img src="./img/github-icon.png" width="20" height="20" />
                </a>
        </div>
    </div>
</div>
